server:
    port: 80

spring:
  application:
#    name: Petitions API
    name: osmarspetitions
  datasource:
    url: jdbc:h2:mem:petitionsdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
          ddl-auto: update
  h2:
    console:
      enabled: true