<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Petition</title>
    <h1>ATTENTION:</h1> It is in maintenance!!!

</head>
<body>
<h1>Create a new petition</h1>

<form th:action="@{/create}" method="post" th:object="${petition}">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}" required />

    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}" required></textarea>

    <button type="submit">Create Petition</button>
</form>

<p><a th:href="@{/list}">Back to petitions list</a></p>
</body>
</html>
